# Python
*.py[cod]
__pycache__/
*.so
*.egg-info/
dist/
build/

# Django
*.log
*.sqlite3
db.sqlite3

.env
*.pot
*.pyc
*.pyo

# VS Code
.vscode/

# Virtual Environments
venv/
.env/
.venv/
ENV/
env/
env.bak/
venv.bak/
