annotated-types==0.6.0
anyascii==0.3.2
asgiref==3.8.1
async-timeout==4.0.3
attrs==24.2.0
beautifulsoup4==4.12.3
boto3==1.35.46
botocore==1.35.46
certifi==2023.7.22
charset-normalizer==3.3.2
defusedxml==0.7.1
dj-database-url==2.2.0
Django==4.7.4
django-ckeditor==6.7.1
django-ckeditor-5==0.2.14
django-cors-headers==4.4.0
django-filter==24.3
django-js-asset==2.2.0
django-modelcluster==6.3
django-permissionedforms==0.1
django-ratelimit==4.1.0
django-redis==5.4.0
django-storages==1.14.4
django-taggit==5.0.1
django-treebeard==4.7.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
draftjs-exporter==5.0.0
drf-spectacular==0.27.2
et-xmlfile==1.1.0
factory_boy==3.3.1
Faker==30.0.0
filetype==1.2.0
gunicorn==23.0.0
idna==3.4
inflection==0.5.1
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kavenegar==1.1.2
l18n==2021.3
laces==0.1.1
openpyxl==3.1.5
packaging==24.1
pillow==10.4.0
pillow_heif==0.18.0
psycopg2-binary==2.9.10
pydantic==2.5.0
pydantic_core==2.14.1
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
redis==5.0.8
referencing==0.35.1
requests==2.31.0
rpds-py==0.20.0
s3transfer==0.10.3
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
telepath==0.3.1
typing_extensions==4.8.0
uritemplate==4.1.1
urllib3==2.1.0
wagtail==6.2.2
whitenoise==6.7.0
Willow==1.8.0
zarinpal==1.0.0
